---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import BaseLayout from "../../components/Layout/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
  <section
    class="grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-10"
  >
    {posts.map((post) => <PostCard {...post} />)}
  </section>
</BaseLayout>
