---
import '@fontsource/noto-sans-jp';
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="ja">
  <BaseHead description={description} />

  <body class="bg-gray-50 container mx-auto px-5 font-sans">
    <Header />
    <main class="mb-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
