---
import BaseHead from "../BaseHead.astro";
import Header from "../Header.astro";
import Footer from "../Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-gray-50 container mx-auto px-5">
    <Header />
    <main class="mb-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
