---
import '@fontsource/m-plus-rounded-1c/400.css';
import '@fontsource/m-plus-rounded-1c/700.css';
import BaseHead from "../BaseHead.astro";
import Header from "../Header.astro";
import Footer from "../Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead description={description} />
  </head>

  <body class="bg-gray-50 container mx-auto px-5 font-sans">
    <Header />
    <main class="mb-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>
