---
import { format, formatDistanceToNow, subYears } from "date-fns";
import type { ActivityType } from "@type";
import { ElapsedTime } from "./ElapsedTime";

export const prerender = false;

interface Props {
  activity: ActivityType;
}

const { activity } = Astro.props;
  let postText = undefined;

  switch (activity.category) {
    case "article":
      postText = `Posted on ${activity.hostname}`;
      break;
    case "slide":
      postText = `Posted on ${activity.hostname}`;
      break;
    case "release":
      postText = "Released";
      break;
    case "podcast":
      postText = "Podcast";
      break;
    case "other":
      break;
  }
---

<div class="flex items-center gap-2 pl-4 text-sm text-gray-900">
  <span>{postText}</span>
  <ElapsedTime client:load isoDate={activity.isoDate} />
</div>
