---
import { Image } from 'astro:assets';
---

<div class="flex space-x-4 p-5 shadow-md rounded-md bg-white items-start">
  <Image
    src="/icon/icon.jpg"
    width="50"
    height="50"
    class="rounded-full"
    alt="@nano72mknのアイコン画像"
  />
  <div class="flex-1 space-y-2">
    <p class="font-bold text-lg">@nano72mkn</p>
    <p class="text-xs leading-5">
      コードを書いたり、ゲームをしたりする人
      <br />
      アプリを作るのが好き。
      <br />
      仕事はwebのフロントエンドが多め
      <br />
      React Native / React大好き人間
    </p>
  </div>
</div>
