---
const today = new Date();
---

<footer class="text-center p-10 border-t-2">
  <p>
    © {today.getFullYear()}; Built by
    <a href="https://twitter.com/nano72mkn" target="_blank" rel="noreferrer">
      @nano72mkn
    </a>
  </p>
</footer>
