---
import '@fontsource-variable/noto-sans-jp';
import { SITE_TITLE } from "@consts";

const pathname = new URL(Astro.request.url).pathname;

const baseClass = "transition hover:text-gray-400";
const activeClass = "underline font-bold";
const inactiveClass = "hover:underline";
---

<header class="flex items-center justify-between py-5 md:py-10">
  <a href="/">
    <h1 class="font-black text-2xl md:text-4xl">{SITE_TITLE}</h1>
  </a>
  <nav>
    <ul class="flex space-x-6">
      <li>
        <a
          class:list={[
            baseClass,
            pathname === "/" ? activeClass : inactiveClass,
          ]}
          href="/"
        >
          Home
        </a>
      </li>
      <li>
        <a
          class:list={[
            baseClass,
            /^\/blog/.test(pathname) ? activeClass : inactiveClass,
          ]}
          href="/blog"
        >
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
