---
import type { MarkdownHeading } from "astro";
import Author from "./Author.astro";
import Sns from "./Sns.astro";

export type Props = {
  headings: MarkdownHeading[];
};
const { headings } = Astro.props;

const tocClass = (depth: number) => {
  switch (depth) {
    case 1:
      return "font-bold text-lg";
    case 2:
      return "font-bold";
    default:
      return "pl-2";
  }
};
---

<aside class="space-y-5 xl:w-1/4">
  <Author />

  <Sns />
  {
    headings && (
      <nav class="md:sticky md:top-10 p-10 shadow-md rounded-md bg-white">
        <div class=" text-lg font-bold mb-5">もくじ</div>
        <ul class="space-y-3 pl-5">
          {headings.map((heading) => (
            <li class={tocClass(heading.depth)}>
              <a href={`#${heading.slug}`} class={`text-sm`}>
                {heading.text}
              </a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</aside>
