---
import { Twitter } from "./icons/Twitter";
import { Zenn } from "./icons/Zenn";
import { Github } from "./icons/Github";
---

<div class="p-5 shadow-md rounded-md bg-white flex space-x-5 justify-center">
  <a
    href="https://twitter.com/shota1995m"
    target="_blank"
    rel="noopener noreferrer"
    class="block"
    aria-label="@shota1995mのTwitter"
  >
    <Twitter className="text-gray-500 hover:text-blue-400" />
  </a>
  <a
    href="https://zenn.dev/shota1995m"
    target="_blank"
    rel="noopener noreferrer"
    class="block"
    aria-label="@shota1995mのZenn"
  >
    <Zenn className="text-gray-500 hover:text-blue-500" />
  </a>
  <a
    href="https://github.com/shota1995m"
    target="_blank"
    rel="noopener noreferrer"
    class="block"
    aria-label="@shota1995mのGitHub"
  >
    <Github className="text-gray-500 hover:text-gray-800" />
  </a>
</div>
