---
import AmazonCard from "@components/AmazonCard.astro";
import OgpCard from "@components/OgpCard.astro";
import { Tweet } from "@components/react/Tweet";

const { href } = Astro.props;

let component = "default";

const isExternalLink = /^http/.test(href);
const url = isExternalLink ? new URL(href) : undefined;

switch (url?.host) {
  case "twitter.com":
    component = "twitter";
    break;
  case "www.amazon.co.jp":
    component = "amazon";
    break;
  default:
    if (
      Astro.slots.has("default") &&
      (await Astro.slots.render("default")) !== href
    ) {
      component = "slot";
      break;
    }
    component = "ogp";
    break;
}
---

{ component && <a
  href={href}
  class={component === "slot"
    ? "underline underline-offset-4 text-cyan-900 hover:no-underline"
    : ""}
>
  {component === "twitter" && <Tweet href={href} />}
  {component === "amazon" && <AmazonCard href={href}><slot /></AmazonCard>}
  {component === "ogp" && <OgpCard href={href} />}
  {component === "default" && href}
  {component === "slot" && <slot />}
</a>}
